* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', Arial, sans-serif;
  box-sizing: border-box;
  text-align: center;
}

body {
  font-size: small;
  color: rgb(0, 0, 0);
  background: linear-gradient(135deg, #153677, #4e085f); /* Set the background color */
  min-height: 100vh; /* Ensure the background covers the entire viewport */
}

h1 {
  font-size: xx-large;
  color: #b419db;
  padding: 35px;
  margin-top: 10px;
}

.App {
  width: 100%;
  min-height: 100vh;
  padding: 10px;
}

nav {
  border: 2px solid white;
  padding: 10px;
  margin-bottom: 20px;
}

nav ul {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style: none;
}

nav li {
  margin: 0 15px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.all-players-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.player-card {
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 200px;
  text-align: center;
}

#new-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

#new-player input {
  margin: 10px;
  padding: 5px;
  width: 300px;
}

#new-player button {
  margin: 10px;
  padding: 5px 10px;
  background-color: #4e085f;
  color: white;
  border: none;
  cursor: pointer;
}

#new-player select {
    margin: 10px;
    padding: 5px;
    width: 300px;
}

.player-details {
  background: white;
  border: 1px solid #ccc;
  padding: 20px;
  max-width: 600px;
  margin: 20px auto;
}

.player-details img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

.player-details button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  cursor: pointer;
}

li {
  padding: 10px;
  margin: 10px;
  list-style: none;
  color: white;
}

input {
  width: 100px;
  margin: 5px;
  display: inline;
}

img {
  height: 50px;
  width: auto;
}

button {
  width: 150px;
  background-color: #029aff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

button:hover {
  background-color: #005bb5;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 600px) {
  .player {
    max-height: 150px;
    padding-bottom: 80px;
    display: inline-block;
  }

  img {
    height: 50px;
  }
}